.icon img {
  width: 100px;
  height: 100px;
  object-fit: fill;
}

.logo-s {
  color: #fff;
  font-size: 23px;
}

.logo-s:hover {
  color: #a0a0a0;
}

.info-s {
  color: #cccccc;
}

.nav-soma {
  opacity: 0;
}

.card-body .row {
  padding-bottom: 10px;
}

.card-body .row .col-sm-10 {
  padding-bottom: 10px;
}

.card-body .row .col-sm-12 {
  padding-top: 10px;
}

.card-body .row {
  padding-right: -50px;
}
.card-body .form-group textarea {
  letter-spacing: 1px;
}
textarea {
  padding: 10px;
  max-width: 100%;
}

label {
  display: block;
  margin-bottom: 10px;
}

hr {
  margin-top: -8px;
}

.a-header .post {
  padding-top: -10px;
}

#mapa {
  margin-top: 10px;
  height: 150px;
  width: auto;
}

.logo-g {
  width: 70px;
  height: 50px;
  object-fit: fill;
}

.l-header {
  color: #000;
}

.r-header {
  color: #000;
  text-align: right;
}

.r-header hr {
  color: #3e4347;
  margin: -5px 0 -2px auto;
  margin-right: 0 0 0 auto; /* Para navegadores standard */
}

.row .btn {
  margin-bottom: 10px;
}

.logo-lg {
  width: 300px;
  height: 70px;
  object-fit: fill;
}

.logo-lg-f {
  padding-top: 20px;
  font-size: 14.5px;
}
